<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
    <div id="app" class="container">
        <h1 class="text-center text-warning">我是標題</h1>
        <div class="d-flex justify-content-end">
            <button @click="openModal('add')" class="btn btn-success  ">新增</button>
        </div>
        <div class="row">
            <table class="table table-hover">
                <tr>
                    <th>使用者帳號</th>
                    <th>使用者名稱</th>
                    <th>使用者密碼</th>
                    <th>操作</th>
                </tr>
                <tr v-for="(i,idx) in data">
                    <td>{{ i.account }}</td>
                    <td>{{ i.username }}</td>
                    <td>{{ i.password }}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-secondary" @click="openModal(idx)">編輯</a>
                            <button class="btn btn-danger" @click="del(idx)">刪除</a></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="modal" class="modal fade" tabindex="-1" >
            <div class="modal-dialog" >
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">{{ status }}使用者</h5>
                </div>
                <div class="modal-body">
                    <p><label for="account">帳號：</label><input type="text" name="" v-model="user.account" class="form-control" id="account"></p>
                    <p><label for="username">名稱：</label><input type="text" name="" v-model="user.username" class="form-control" id="username"></p>
                    <p><label for="password">密碼：</label><input type="text" name="" v-model="user.password" class="form-control" id="password"></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" @click="submit()">確認</button>
                  <button type="button" class="btn btn-secondary" onclick="$('#modal').modal('hide')">取消</button>
                </div>
              </div>
            </div>
        </div>
    </div>

</body>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    var app = Vue.createApp({
        data(){
            return {
                data: [],
                user: {
                    id:"",
                    username: "",
                    account: "",
                    password: ""
                },
                status: "新增"
            }
        },
        methods:{
            openModal(idx){
                $('#modal').modal("show");
                // console.log($("#modal"))
                if(idx == "add"){
                    this.user = {
                        id:"",
                        username: "",
                        account: "",
                        password: ""
                    }
                    this.now = "新增";
                }else{
                    this.now = "修改"
                    this.user = this.data[idx];
                }
                
            },
            submit(){
                let _this = this;
                if(this.now ==="新增"){
                    $.post("./api.php?do=add",this.user,(r)=>{
                        _this.getData();
                        console.log(r);
                    })
                }else{
                    $.post("./api.php?do=edit",this.user,(r)=>{
                        _this.getData();
                        console.log(r);
                    })
                }
                          
                $("#modal").modal("hide");
            },
            del(index){
                let id = this.data[index].id;
                let _this = this;
                $.post("./api.php?do=del",{"id":id},(r)=>{
                    _this.getData();
                    console.log(r);
                })
            },
            getData(){
                let _this = this;
                $.get("./api.php?do=getData",(r)=>{
                    _this.data = JSON.parse(r)
                })
                // $.get("./api.php?do=getData",function(r){
                //     this.data = JSON.parse(r)
                // })
                
            }
        },
        mounted(){
            this.getData();
        },
        computed(){

        },
        watch:{

        }
    }).mount("#app")
</script>
</html>